.wishlist-item {
   box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
  border-radius: 16px;

  &:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }

  .product-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-bottom: 1rem;

    .product-image {
      position: relative;
      aspect-ratio: 1;
      border-radius: 12px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover; 
      }
    }

    .product-title {
      font-size: 14px;
      color: #4B5563;
      margin: 0;
      text-align: center;
    }

    .more-items-wrapper {
      display: flex;
      flex-direction: column;

      .more-items {
        position: relative;
        aspect-ratio: 1;
        background-color: #f3f4f6;
        border: 2px dashed #e5e7eb;
        border-radius: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #6b7280;
        font-size: 1.25rem;
        font-weight: 600;
        // transition: all 0.3s ease;

        span {
          font-size: 20px;
          font-weight: 500;
        }
      }
    }
  }

  .wishlist-details {
    .item-title {
      font-size: 1.25rem;
      font-weight: 600;
      color: #101828;
      margin-bottom: 0.5rem;
    }

    .item-description {
      font-size: 0.875rem;
      color: #6b7280;
      margin-bottom: 1rem;
    }

    .total-amount {
      font-size: 1.25rem;
      font-weight: 600;
      color: #101828;
    }

    .progress {
      background-color: #f3f4f6;
      border-radius: 10px;
      overflow: hidden;
    }

    .badge {
      font-size: 0.75rem;
      padding: 0.35em 0.85em;
      
      &.bg-purple {
        background-color: #D3B8E4 !important;
        color: #4B5563;
      }
      
      &.bg-pink {
        background-color: #FFCECE !important;
        color: #4B5563;
      }
      
      &.bg-success {
        background-color: #A8E6E0 !important;
        color: #4B5563;
      }
    }

    .action-buttons {
      .btn-link {
        color: #6b7280;
        &:hover {
          color: #101828;
        }
      }
    }
  }
} 